.pageHolder{
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  text-align: center;
  font-size: 3.5vw;
  outline: 2px dahsed green;
}
.statHolder{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5vw;
}
.stat{
  padding-left: 2vw;
  padding-right: 2vw;
  border: 1px black solid;
}
.transactionHolder{
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 2vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  padding: 1vw;
background-color: lightgoldenrodyellow;
}
.title_expense{
color: red;
font-size: 1.5vw;

}
.title_income{
  color: green;
  font-size: 1.5vw;

  }
  .title_expensenone{
    color:darkgray;
    font-size: 1.5vw;

  }
  .removeButton{
    position: absolute;
    left: 5vw;
  width: 3vw;
    text-align: center;
    background-color: red;
  }
  .remove:hover{
    cursor: pointer;
  }
  .submit{
    position: absolute;
    right: 5vw;
    background-color: green;
    font-size: 1.5vw;
  }